version: "3"

services:
  nginx:
    image: nginx:latest
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:ro
      - ./ssl:/etc/nginx/ssl:ro
    depends_on:
      - gitea
      - syncthing
      - jellyfin
      - filebrowser
      - netdata
    networks:
      - homelab

networks:
  homelab:
    external: true
