version: "3.9"

services:

  gitea:
    image: gitea/gitea:latest
    restart: unless-stopped
    ports:
      - "3000:3000"
      - "2222:22"
    volumes:
      - ./gitea:/data

  syncthing:
    image: syncthing/syncthing:latest
    restart: unless-stopped
    ports:
      - "8384:8384"          # Web UI
      - "22000:22000"        # TCP sync
      - "22000:22000/udp"    # QUIC sync
      - "21027:21027/udp"    # Discovery
    volumes:
      - ./syncthing:/var/syncthing

  jellyfin:
    image: jellyfin/jellyfin:latest
    restart: unless-stopped
    network_mode: host   # (Important for the best streaming performance)
    runtime: nvidia
    environment:
      - NVIDIA_VISIBLE_DEVICES=all
      - NVIDIA_DRIVER_CAPABILITIES=all
    devices:
      - /dev/dri:/dev/dri
    volumes:
      - ./jellyfin/config:/config
      - ./jellyfin/cache:/cache
      - ./media:/media

  filebrowser:
    image: filebrowser/filebrowser:latest
    restart: unless-stopped
    ports:
      - "8080:80"
    volumes:
      - ./filebrowser:/srv
      - ./filebrowser/config:/config

  netdata:
    image: netdata/netdata:latest
    restart: unless-stopped
    ports:
      - "19999:19999"
    cap_add:
      - SYS_PTRACE
      - NET_ADMIN
